html {
    transition: all 0.25s ease-in-out;
}

body {
    display: flex;
    flex-wrap: wrap;
}

#svgDiv {
    height: 50vh;
    width: 40vw;
    margin-top: 2.5vh;
    margin-left: 4vw;
    border: 5px dotted grey;
}

#svgDiv>svg {
    height: inherit;
    width: inherit;
    border: 1px dotted grey;
    overflow: visible;
}

body>div:first-of-type {
    height: 50vh;
    width: 40vw;
    margin-left: 4vw;
    margin-top: 20vh;
    border: 1px solid black;
    overflow-y: scroll;
}

g {
    transform: translate(5%, -2.5%);
}

#barValues {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 5%;
}

#barValues>div {
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    margin-top: 2.5%;
}

#barValues>div>div {
    border: 1px dotted red;
    display: flex;
    align-items: center;
    margin-top: 01%;
}

#barValues>div>div>label {
    padding: 0;
    display: inline-block;
    width: 40%;
    font-size: smaller;
}

#barValues>div>div>input {
    padding: 0;
    width: 50%;
}

#svgDiv>svg>g>rect:hover {
    position: relative;
    fill: red;
    width: calc(var(--barWidth)*1.1);
}

@media (max-width: 1150px) {
    #barValues>div>div {
        flex-direction: column;
        justify-content: center;
    }
    #barValues>div>div>label {
        width: unset;
    }
    #barValues>div>div>input {
        width: 100%;
    }
}

rect+text {
    fill: green;
    pointer-events: none;
}

aside>h1 {
    text-align: center;
    padding: 1vh 0 0 0;
    border-top: solid 1px black;
}

aside>div {
    border: 1px solid red;
    padding: 2.5vmin;
    border-radius: 50px;
}

aside>button {
    margin-bottom: 5px;
}

aside>button:last-of-type {
    float: right;
}

aside>div>div>svg {
    border: 1px solid black;
}