        body>main {
            display: grid;
            grid-template-columns: 15% 65% 15%;
            grid-template-rows: 10h 5vh 75vh 10vh;
            grid-template-areas: "header header header""breadcrumb breadcrumb ." "leftAside main rightAside" "footer footer footer";
            column-gap: 2.5%;
        }
        
        header {
            grid-area: header;
            height: 10vh;
            min-height: 75px;
        }
        
        body>aside {
            margin-left: 2.5vw;
            grid-area: breadcrumb;
            min-height: 5vh;
        }
        
        body>main>section {
            grid-area: main;
            border: solid 1px purple;
            width: 65vw;
            height: 75vh;
        }
        
        body>main>section>h2 {
            text-align: center;
            height: 10%;
            margin-bottom: 1%;
        }
        
        body>main>section>section {
            display: flex;
            width: inherit;
            height: inherit;
            justify-content: space-evenly;
        }
        
        body>main>section>section>div {
            width: 90%;
            height: 87.5%;
            background-color: aqua;
        }
        
        body>main>aside:first-of-type {
            grid-area: leftAside;
            border: solid 1px blue;
            height: 75vh;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }
        
        body>main>aside:first-of-type>nav>ul {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        body>main>aside:first-of-type>ul>li> {
            width: fit-content !important;
        }
        
        body>main>aside:last-of-type {
            grid-area: rightAside;
            border: solid 1px red;
        }
        
        main {
            min-height: 75vh;
        }
        
        header>nav>a>img {
            margin-top: 0.5vh;
            height: 9vh;
            min-height: 75px;
            margin-left: 0.5vh;
            aspect-ratio: 2.25/1;
        }
        
        .navbar-brand {
            padding-top: 0;
            padding-bottom: 0;
        }
        
        .navbar {
            padding: 0;
        }
        
        footer {
            grid-area: footer;
            height: 10vh;
        }
        
        .leftAsideAd {
            height: 50%;
            width: 100%;
            background-color: pink;
        }